div.blogs-input {
  margin-top: 20px;
  textarea.desc {
    height: 50px;
    margin-bottom: 10px;
  }
  input {
    margin-bottom: 10px;
  }
  span {
    display: block;
  }
  button {
    margin-top: 10px;
  }
}

div.blogs-overview {
  margin-top: 20px;
  div.blog {
    margin-top: 20px;
    div.col-sm-8 {
      div {
        margin-top: 5px;
      }
    }
  }
}

div.img {
  height: 300px;
  width: 100%;
  background-image: url(https://picsum.photos/300/300);
  background-size: cover;
  background-position: center center;
}
