<h1>Blogs</h1>
<div class="row blogs-input">
  <div class="col-sm-4">
    <div class="img" *ngIf="blog.image.length > 0" [style.background-image]="setBgImg(blog.image)"></div>
    <div class="img" *ngIf="blog.image.length === 0" [style.background-image]="setBgImg('http://placehold.it/600x400')"></div>
  </div>
  <div class="col-sm-8">
    <div class="col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Title" [(ngModel)]="blog.title">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-group">
        <textarea type="text" class="form-control desc" placeholder="Description" [(ngModel)]="blog.description"></textarea>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Link" [(ngModel)]="blog.link">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Image" [(ngModel)]="blog.image">
      </div>
      <span>Need to host an image? <a href="https://imgbb.com/" target="_blank">Click here</a></span>
    </div>
    <div class="col-sm-12">
      <button type="button" *ngIf="!editor.id && editor.id !== 0" class="btn btn-primary" (click)="post()">Post</button>
      <button type="button" *ngIf="editor.id || editor.id === 0" class="btn btn-primary" (click)="post()">Save</button>
      <button type="button" *ngIf="editor.id || editor.id === 0" class="btn btn-secondary" (click)="clear()">Clear</button>
    </div>
  </div>
</div>

<div class="blogs-overview">
  <div class="row blog" *ngFor="let blog of blogs; index as x">
    <div class="col-sm-4">
      <div class="img" [style.background-image]="setBgImg(blog.image)"></div>
    </div>
    <div class="col-sm-8">
      <div class="col-sm-12 title">{{blog.title}}</div>
      <div class="col-sm-12 desc">{{blog.description}}</div>
      <div class="col-sm-12"></div>
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary" (click)="edit(x)">Edit</button>
        <button type="button" class="btn btn-primary" (click)="delete(x)">Delete</button>
      </div>
    </div>
  </div>
</div>
