div.blogs-input {
  margin-top: 20px;
  div.img {
    height: 300px;
    width: 100%;
    background-image: url(https://picsum.photos/300/300);
    background-size: cover;
  }
  input.desc {
    height: 100px;
  }
  input {
    margin-top: 10px;
    margin-left: 10px;
  }
  button {
    margin-top: 10px;
    margin-left: 10px;
  }
}

div.blogs-overview {
  margin-top: 30px;
  div.col-sm-9 {
    div {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}
