div.blogs-input {
  margin-top: 20px;
  input.desc {
    height: 110px;
  }
  input {
    margin-bottom: 10px;
  }
  button {
    margin-top: 10px;
  }
}

div.blogs-overview {
  margin-top: 30px;
  div.col-sm-8 {
    div {
      margin-top: 5px;
    }
  }
}

div.img {
  height: 300px;
  width: 100%;
  background-image: url(https://picsum.photos/300/300);
  background-size: cover;
}
