<h1>Blogs</h1>
<div class="row blogs-input">
  <div class="col-sm-4">
    <div class="img"></div>
  </div>
  <div class="col-sm-8">
    <div class="col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Title" [(ngModel)]="blog.title">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control desc" placeholder="Description" [(ngModel)]="blog.description">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Link" [(ngModel)]="blog.link">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Image" [(ngModel)]="blog.image">
      </div>
    </div>
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary" (click)="post()">Post</button>
    </div>
  </div>
</div>

<div class="blogs-overview">
  <div class="row blog" *ngFor="let blog of blogs; index as i; first as isFirst">
    <div class="col-sm-4">
      <div class="img"></div>
    </div>
    <div class="col-sm-8">
      <div class="col-sm-12 title">{{blogs[i].title}}</div>
      <div class="col-sm-12 desc">{{blogs[i].description}}</div>
      <div class="col-sm-12"></div>
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
