div.settings-input {
    margin-top: 20px;
  div {
    div.social-text {
      width: 350px;
      margin-bottom: 10px;
      div {
          span.input-group-text {
              width: 100px;
          }
      }
    }
  }
}
