<h1>Banner</h1>
<div class="row banner-preview">
  <div class="col-sm-4">
    <div class="img"></div>
  </div>
  <div class="col-sm-8">
    <div class="col-sm-12 top-text">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Top Text" [(ngModel)]="banner.topText">
      </div>
    </div>
    <div class="col-sm-12 big-text">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Big Text" [(ngModel)]="banner.bigText">
      </div>
    </div>
    <div class="col-sm-12 desc">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Description" [(ngModel)]="banner.description">
      </div>
    </div>
    <div class="col-sm-12 image">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Image" [(ngModel)]="banner.image">
      </div>
    </div>
    <div class="col-sm-12">
      <button type="button" *ngIf="!editor.id && editor.id !== 0" class="btn btn-primary" (click)="post()">Post</button>
      <button type="button" *ngIf="editor.id || editor.id === 0" class="btn btn-primary" (click)="post()">Save</button>
      <button type="button" *ngIf="editor.id || editor.id === 0" class="btn btn-secondary" (click)="clear()">Clear</button>
    </div>
  </div>
</div>
<div class="row banner-input">
</div>

<div class="banner-overview">
  <div class="row banner" *ngFor="let banner of banners; index as x">
    <div class="col-sm-4">
      <div class="img"></div>
    </div>
    <div class="col-sm-8">
      <div class="col-sm-12 top-text">
        {{banner.topText}}
      </div>
      <div class="col-sm-12 big-text">
        {{banner.bigText}}
      </div>
      <div class="col-sm-12 desc">
        {{banner.description}}
      </div>
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary" (click)="edit(x)">Edit</button>
        <button type="button" class="btn btn-primary" (click)="delete(x)">Delete</button>
      </div>
    </div>
  </div>
</div>
